@font-face {
  font-family: "Impact";
  src: url("Impact.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFangSC-Semibold";
  src: url("PingFang-SC-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFangSC-Regular";
  src: url("PingFang-SC-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
