.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.clearfix {
  zoom: 1;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis_3 {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.flex .flex_item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td,
th {
  display: table-cell;
  vertical-align: inherit;
}

.table {
  width: 100%;
}

.table thead th {
  background-color: #e1e1e1;
  color: #000;
  font-weight: normal;
}

.table tr:hover {
  background-color: #f2f2f8;
}

.table thead th,
.table tbody td {
  line-height: 20px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.table tbody td {
  border-right: solid #ddd 1px;
  border-bottom: solid #ddd 1px;
  word-wrap: break-word;
  word-break: break-all;
}

.table tbody td > span,
.table tbody td > a {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.shadow {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px #e2e2e2;
  -moz-box-shadow: 3px 3px 3px #e2e2e2;
  box-shadow: 3px 3px 3px #e2e2e2;
}

.fixed {
  position: fixed;
  top: 0;
  _position: absolute;
}

.hide {
  display: none !important;
}

.show {
  display: inline-block !important;
}

.main {
  width: 1180px;
  margin: 0 auto;
}

.mybutton {
  width: 188px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.line {
  width: 14px;
  height: 1px;
  background-color: #999;
  margin: 0 auto 70px;
}

.about_text {
  line-height: 30px;
  margin-top: 12px;
  font-size: 14px;
  color: #666;
}

p {
  font-size: 16px;
  color: #333;
}

a {
  color: #666;
  cursor: pointer;
}

a:hover {
  color: #0099cc;
}

.cursor-pointer {
  cursor: pointer;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

/* globl transition css */

/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*breadcrumb transition*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

/* webkit 内核滚动条样式修改 */
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #bbb;
  outline-offset: -2px;
  background-color: rgba(144, 147, 153, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(144, 147, 153, 0.353);
}

.card {
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px #ccc;
  overflow: hidden;
}

.app-drag {
  border-radius: 10px !important;
}

.openSidebar .content {
  padding-left: 115px !important;
}
.hideSidebar .content {
  padding-left: 15px !important;
}

.el-table--enable-row-transition .el-table__body td {
  text-align: center;
}

/* 表单input */
.el-input__inner {
  height: 28px;
  /* width: 190px; */
}
.el-input__inner {
  font-size: 12px;
}
.demo-form-inline .el-input__inner {
  width: 180px;
}
.el-cascader {
  line-height: 28px !important;
}
.el-cascader .el-input {
  width: 300px !important;
}
.demo-form-inline .el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 180px;
}
.el-picker-panel__body .el-input__inner {
  width: 140px;
}
.el-select-dropdown__item {
  font-size: 12px;
}
.el-input__icon {
  line-height: 28px;
}
.query {
  background-color: #00438a;
  color: #fff;
}
.el-table th {
  text-align: center;
}

/* 分页 */
.el-pagination {
  background-color: #f5f5f5;
  height: 34px;
  line-height: 25px;
  overflow: hidden;
  padding-top: 3px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
.openSidebar .el-pagination {
  left: 215px;
}
.hideSidebar .el-pagination {
  left: 30px;
}

/* 状态样式 */
.infoType {
  color: #cc3333;
  font-size: 14px;
  vertical-align: middle;
  margin-left: 15px;
}

/* 轮播图 */
.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}

/* 自营产品模块 */
.product.content {
  padding-top: 10px;
  height: 100%;
  overflow: scroll;
}
.product h1 {
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
}
.product .box {
  margin-bottom: 20px;
}
.product h2 {
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
}
.product .info {
  padding-left: 100px;
  position: relative;
}
.product .info .item {
  line-height: 35px;
  /* display: flex; */
}

.product .close {
  margin-left: 450px;
}
.product .city .el-form-item__content .el-select,
.product .city .el-form-item__content .el-cascader {
  width: 147px;
}
.product .el-form-item__content .el-select {
  width: 300px;
}
.product .el-form-item__content .el-cascader {
  width: 350px;
}

.product .price.el-input {
  width: 280px !important;
}
.product .storage.el-input {
  width: 280px !important;
}

/* 自营订单管理 */
.order {
  min-width: 1150px;
}
.el-tabs--border-card > .el-tabs__content {
  padding: 0;
}
.order .el-tabs--border-card {
  width: 82.2%;
}
.order .order_title {
  padding-left: 20px;
  color: #797979;
  line-height: 49px;
  background-color: #f2f2f2;
}
.order .item {
  margin-top: 10px;
  border: 1px solid #eee;
}
.order .item_hd {
  padding-left: 20px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  background-color: #f2f2f2;
  color: #797979;
}
.order .code {
  text-align: left;
}
.order .time {
}
.order .user {
}
.order .detail {
  padding-left: 25px;
}
.order .item_bd {
  /* height: 140px; */
  position: relative;
  padding: 20px;
  padding-right: 0;
  box-sizing: border-box;
  color: #515151;
}

.order .item_bd .info {
  height: 50px;
  margin-bottom: 10px;
}
.order .item_bd .info div {
  height: 50px;
}
.order .avatar {
  display: flex;
  align-items: top;
}
.order .item_bd .handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute;
  top: 0;
  right: 9.45%; */
}
.order .item_bd .sure {
  /* position: absolute;
  top: 0;
  right: 34.2%; */
}
.order .item_bd .statu {
  /* position: absolute;
  top: 0;
  right: 20.75%; */
}
.order .handle span {
  margin-bottom: 10px;
  cursor: pointer;
}
.order .tit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.el-badge__content {
  position: absolute !important;
  top: -22px !important;
  right: -3px !important;
}
