/*
 * @Description: 媒体查询样式
 * @Author: jiaxin
 * @Date: 2019-08-26 10:04:24
 * @LastEditors: jiaxin
 * @LastEditTime: 2019-08-26 11:15:15
 */
@media (max-width: 1280px)
	.el-table
		th
			height 24px
		td
			height 24px
	.el-tabs__item
		height 28px
		line-height 28px
	.el-form-item__label, .el-form-item__content
		line-height 30px
	.left-search .right-btns
		height 30px !important
		line-height 30px !important
	.setup-box .btn-box
		height 34px
		line-height 34px
	.el-button
		padding 6px 10px !important
